<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title> 
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="stylesheet" href="../static/.CSS/administrador-registra-vendedor-completo.css">
</head>  
<body>
    <div class="boton-izquierda">
        <img src="../static/IMAGE.SVG/flecha.png" alt="Botón" class="imagen-boton">
    </div>
    
        <div class="texto-contenedor">
            <h1>
                ¡FELICIDADES! SE HA REGISTRADO UN NUEVO VENDEDOR
            </h1>
        </div>
        
        <form class="formulario">
            <div class="imagen-contenedor">
                <img src="../static/IMAGE.SVG/photo.png" alt="Imagen del Vendedor" class="imagen-vendedor">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" id="nombreInput" placeholder="Nombre Completo">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" id="emailInput" placeholder="Email">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-lock icon"></i>
                <input type="password" id="passwordInput" placeholder="Password(**)">
            </div>  
        </form>
        <div class="button2-container">
            <input type="submit" value="Regresar a Tienda" class="button2">
        </div>
   
   
    <div class="rectangulo_fondo"></div>
    <div class="imagen">
        <img src="ruta-a-tu-imagen" alt="Imagen desde la base de datos">
      </div>
    
</body>
</html>



