<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="../static/.CSS/administrador-registra-venta.css">
	
</head>  
<body>
    <div class="boton-izquierda">
        <img src="../static/IMAGE.SVG/flecha.png" alt="Botón" class="imagen-boton">
      </div>

 <form class="formulario">
    
    <h1>Registrar Nuevo Vendedor</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input type="text" id="nombreInput" placeholder="Nombre Completo">
         
         </div>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" id="emailInput" placeholder="Email">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-lock icon"></i>
        <input type="password" id="passwordInput" placeholder="Password">
         
         </div>
         <div class="button1-container">
            <input type="submit" value="Guardar" class="button1" id="guardarButton"> 
            <p id="mensajeExito" class="mensaje-exito"></p>     
          </div>     
     </div>
    </form>
    <div class="button2-container">
        <input type="submit" value="Registro Facial" class="button2">
    </div>

    <script src="../static/JS/administrador-registra-vendedor.js"></script>

</body>
</html>