<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="../static/.CSS/administrador-registra-venta.css">
</head>
<body>
    <a href="registro-vendedor">
        <div class="boton-izquierda">
            <img src="../static/IMAGE.SVG/flecha.png" alt="Botón" class="imagen-boton">
        </div>
    </a>
    <img src="{{url_for('video_register')}}" class="img-fluid" id="video-feed-img">
    
    <a href="registro-completo">
        <div class="button2-container">
            <input type="submit" value="Terminado" class="button2">
        </div>
    </a>

    <script src="../static/JS/administrador-registra-vendedor.js"></script>

</body>
</html>