<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="../static/.CSS/login.css"/>
</head>
<body>
<div class="login-HXD">
  <div class="rectangle-10-o8B">
  </div>
  

  <div class="line-2-Nns">
  </div>
  
  <img class="image-4-rT9" src="../static/IMAGE.SVG/image-4-L55.png"/>
  
  <form>
  <input class="email-8vT" type="email" placeholder="Email">
  <input class="password-ygB" type="password" placeholder="Password">
  </form>
  
  <img class="image-5-2eT" src="../static/IMAGE.SVG/image-5.png"/>
  <img class="image-6-8Bh" src="../static/IMAGE.SVG/image-6-4x7.png"/>
  <div class="iniciar-sesin-urf">
    <button>Iniciar Sesión</button>
  </div>
  <div class="line-3-KfV">
  </div>
</div>
<script src="../static/JS/login.js"></script>
</body>
</html>
