<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./static/.CSS/login.css"/>
</head>
<body>
<div class="login-HXD">
  <div class="rectangle-10-o8B">
  </div>
  <div class="rectangle-11-tas">
  </div>
  <div class="iniciar-sesin-9mh">Iniciar Sesión</div>
  <div class="line-1-tco">
  </div>
  <div class="line-2-Nns">
  </div>
  <img class="image-4-rT9" src="./assets/image-4-L55.png"/>
  <div class="email-8vT">Email</div>
  <div class="password-ygB">Password</div>
  <img class="image-5-2eT" src="./assets/image-5.png"/>
  <img class="image-6-8Bh" src="./assets/image-6-4x7.png"/>
  <div class="rectangle-12-d8T">
  </div>
  <div class="iniciar-sesin-urf">Iniciar Sesión</div>
  <div class="line-3-KfV">
  </div>
  <div class="line-4-xyM">
  </div>
  <div class="password-fcs">Password</div>
  <img class="image-7-jsd" src="./assets/image-7.png"/>
</div>
</body>