<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/.CSS/administracion.css">
    <title>Administrador Ventas</title>

</head>

<body>
    <div class="encabezado">
        <div class="izquierda">
            <div class="menu">
                <img src="../static/IMAGE.SVG/menu.svg" alt="menu">
                <p>MENÚ</p>
            </div>
            <ul class="opciones">
                <li>
                    <a href="index">
                        <div class="opcion">
                            <img src="../static/IMAGE.SVG/inicioOpcion.svg" alt="menu">
                            <p>Inicio</p>
                        </div>  
                    </a>                
                </li>
                <li>
                    <a href="ventas">
                        <div class="opcion">
                            <img src="../static/IMAGE.SVG/ventasOpcion.svg" alt="menu">
                            <p>Ventas</p>
                        </div>  
                    </a>
                </li>
                <li class="opcionfinal">
                    <a href="productos">
                        <div class="opcion">
                            <img src="../static/IMAGE.SVG/productosOpcion.svg" alt="menu">
                            <p>Productos</p>
                        </div>  
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="centro">
            <h1>PRODUCTOS</h1>
        </div>
        <div class="derecha">
            <div class="rol" >
                <p id="rolUser">Administrador</p>
            </div>
            <div class="salir" >
                <img src="../static/IMAGE.SVG/salir.svg" alt="salir">
            </div>
        </div>       
    </div> 

    <div class="Contenido">
        <div class="Titulos">
          <span class="fecha">#ID PROD</span>
          <span class="vendedor">NOMBRE</span>
          <span class="observaciones">DESCRIPCIÓN</span>
          <span class="items">STOCK</span>
          <span class="importe">P. UNID</span>
        </div>
    
        <div class="Cuadro2">
          <div class="Tabla2">
            <table>
            </table>
          </div>
        </div>
      </div>

        <script src="../static/JS/productos.js"></script>
</body>

</html>