<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/stiloVendedores.css">
    <title>Administrador Venta</title>

</head>

<body>    
    <div class="encabezado">
        <div class="izquierda">
            <div class="menu">
                <img src="icon/menu.svg" alt="menu">
                <p>MENÚ</p>
            </div>
            <ul class="opciones">
                <li>
                    <a href="index.html">
                        <div class="opcion">
                            <img src="icon/inicioOpcion.svg" alt="menu">
                            <p>Inicio</p>
                        </div>  
                    </a>                
                </li>
                <li>
                    <a href="vendedores.html">
                        <div class="opcion">
                            <img src="icon/vendedorOpcion.svg" alt="menu">
                            <p>Vendedores</p>
                        </div>  
                    </a>
                </li>
                <li>
                    <a href="ventas.html">
                        <div class="opcion">
                            <img src="icon/ventasOpcion.svg" alt="menu">
                            <p>Ventas</p>
                        </div>  
                    </a>
                </li>
                <li class="opcionfinal">
                    <a href="productos.html">
                        <div class="opcion">
                            <img src="icon/productosOpcion.svg" alt="menu">
                            <p>Productos</p>
                        </div>  
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="centro">
            <h1>VENDEDORES</h1>
        </div>
        <div class="derecha">
            <div class="rol">
                <p id="rolUser">Administrador</p>
            </div>
            <div class="salir" >
                <img src="icon/salir.svg" alt="salir">
            </div>
        </div>       
    </div> 


    <div class="contenido1">
        <div class="arriba">
            <div class="registro">
                <button>Registrar Nuevo Vendedor</button>
            </div>

            <div class="busqueda">
                <form>
                    <input type="text" placeholder="Ingrese nombre del vendedor">
                    <input type="submit" value="Buscar">           
                  </form>            
            </div>
        </div>
        <div class="cuadro1">
            <div class="contCuadro1" id="contenedorVendedores">
            </div>                   
        </div>
    </div>
    <script src="script/vendedores.js"></script>    

</body>

</html>