<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/administracion.css">
    <title>Administrador Ventas</title>

</head>

<body>
    <div class="encabezado">
        <div class="izquierda">
            <div class="menu">
                <img src="icon/menu.svg" alt="menu">
                <p>MENÚ</p>
            </div>
            <ul class="opciones">
                <li>
                    <a href="index.html">
                        <div class="opcion">
                            <img src="icon/inicioOpcion.svg" alt="menu">
                            <p>Inicio</p>
                        </div>  
                    </a>                
                </li>
                <li>
                    <a href="vendedores.html">
                        <div class="opcion">
                            <img src="icon/vendedorOpcion.svg" alt="menu">
                            <p>Vendedores</p>
                        </div>  
                    </a>
                </li>
                <li>
                    <a href="ventas.html">
                        <div class="opcion">
                            <img src="icon/ventasOpcion.svg" alt="menu">
                            <p>Ventas</p>
                        </div>  
                    </a>
                </li>
                <li class="opcionfinal">
                    <a href="productos.html">
                        <div class="opcion">
                            <img src="icon/productosOpcion.svg" alt="menu">
                            <p>Productos</p>
                        </div>  
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="centro">
            <h1>VENTAS</h1>
        </div>
        <div class="derecha">
            <div class="rol" >
                <p id="rolUser">Administrador</p>
            </div>
            <div class="salir" >
                <img src="icon/salir.svg" alt="salir">
            </div>
        </div>       
    </div> 

    <div class="Contenido">
        <div class="Titulos">
          <span class="fecha">FECHA</span>
          <span class="vendedor">VENDEDOR</span>
          <span class="observaciones">OBSERVACIONES</span>
          <span class="items">#ITEMS</span>
          <span class="importe">IMPORTE</span>
        </div>
    
        <div class="Cuadro2">
          <div class="Tabla2">
            <table>
            </table>
          </div>
        </div>
      </div>

        <script src="script/ventas.js"></script>
</body>

</html>